<div>
  <h1>LISTA DE PRODUCTOS</h1>
  <div id="listProducts">
    {{#each listProducts}}
      <div id="product">
        <img src={{thumbnail}} alt={{title}} />
        <h2>{{title}} </h2>
        <h4>{{price}} </h4>
        <p>{{description}} </p>
      </div>
    {{/each}}
  </div>
</div>