<div>
  <h1>LISTA DE PRODUCTOS</h1>
  <form action="http://localhost:8080/api/auth/logout" method="get">
    <button type="submit">Logout</button>
  </form>
  <div id="listProducts">
    {{#each products}}
      <div id="product">
        <img src={{thumbnail}} alt={{title}} />
        <h2>{{title}} </h2>
        <h4>{{price}} </h4>
        <p>{{description}} </p>
      </div>
    {{/each}}
  </div>
</div>